*
{
    padding: 0;
    margin: 0;

    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

#wrapper
{
    /* General properties */
    width: auto;
    height: 100vh;

    /* Grid properties */
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 50px auto;
}

.logoBox
{
    /* General properties */
    width: auto;
    height: auto;

    /* Parent grid properties */
    grid-column: 1/2;
    grid-row: 1/2;
}

.searchBox
{
    /* General properties */
    width: auto;
    height: auto;

    /* Parent grid properties */
    grid-column: 2/3;
    grid-row: 1/2;
}

.accountBox
{
    /* General properties */
    width: auto;
    height: auto;

    /* Parent grid properties */
    grid-column: 3/-1;
    grid-row: 1/2;
}

.projectsBox
{
    /* General properties */
    width: auto;
    height: auto;

    /* Parent grid properties */
    grid-column: 1/2;
    grid-row: 2/-1;

    /* Main Flex properties */
    display: flex;
    flex-direction: column;
}

.projectsHeader
{
    /* General properties */
    justify-content: center;
    padding: 10px;

    /* Flex properties */
    display: flex;
}

.projectsHeaderIcon
{
    /* Text properties */
    font-size: 25px;
    text-align: center;

    /* General properties */
    width: 25px;
}

.projectsHeaderText
{
    /* Text properties */
    font-size: 25px;
}

.projectsCreateBox
{
    /* General properties */
    justify-content: center;
    padding: 10px;

    /* Flex properties */
    display: flex;
}

.createProjectButton
{
    /* General properties */
    padding: 5px;
    /* Text properties */
    font-size: 18px;
    text-align: center;

    /* Border properties */
    border-style: solid;
    border-radius: 10px;

    /* Main flex properties */
    display: flex;
}

.projectsListBox
{
    /* General properties */
    width: auto;
    height: 100%;
    padding: 10px;
    background-color: rgb(143, 255, 255);

    /* Flex properties */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.deckBox
{
    /* General properties */
    width: auto;
    height: auto;

    /* Parent grid properties */
    grid-column: 2/-1;
    grid-row: 2/-1;

    /* Main flex properties */
    display: flex;
    flex-direction: column;
}

.deckHeader
{
    /* General properties */
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* Main flex properties */
    display: flex;
}

.deckHeaderIcon
{
    /* Text properties */
    font-size: 25px;
}

.deckHeaderText
{
    /* Text properties */
    font-size: 25px;
}

.deckButtons
{
    /* General properties */
    padding: 10px;
}

.createCardButton
{
    /* General properties */
    padding: 5px;
    /* Text properties */
    font-size: 18px;
    text-align: center;

    /* Border properties */
    border-style: solid;
    border-radius: 10px;

    /* Main flex properties */
    display: flex;
}

.deckContent
{
    /* General properties */
    height: 100%;
    padding: 10px;

    /* Flex properties */
    display: flex;
}

.cardListBox
{
    /* General properties */
    background-color: rgb(143, 255, 255);

    /* Parent flex properties */
    flex: 1;
}

.cardDisplay
{
    /* General properties */
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 10px;
    background-color: rgb(143, 255, 255);
}

.normalCardDisplayBox, .editCardDisplayBox
{
    /* General properties */
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(165, 139, 192);
}

.normCardHeader, .editCardHeader
{
    /* General properties */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 2px;
}

.editCardButton
{
    /* General properties */
    width: 50px;
    background-color: rgb(117, 117, 255);
}

.applyEditButton
{
    /* General properties */
    width: 50px;
    background-color: rgb(117, 255, 140);
}

.cancelEditButton
{
    /* General properties */
    width: 50px;
    background-color: rgb(255, 117, 117);
}

.normCardTitle
{

}


/* SUPPORT CSS */
.hidden
{
    display: none;
}
